<div class="container">
  <div class="row">
    <hr/>
    <div class="col-9" >
      <div class="row post">
        <div class="col-1">
          <app-vote-button [post]="post"></app-vote-button>
        </div>
        <div class="col-11">
          <span>
            <span class="topic-text"><a class="post-url" href="">{{post.topicName}}</a></span>
            <span> . Posted
              <span> {{post.duration}} </span>
              by
              <a class="username" href="">{{post.userName}}</a>
            </span>
          </span>
          <hr/>
          <a routerLink="post.url" class="post-title">{{post.postName}}</a>
          <div>
            <p class="post-text" [innerHtml]="post.description"></p>
          </div>
          <app-comment *ngIf='commentResponse.comments.length >0' [commentResponse]="commentResponse"></app-comment>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-sidebar></app-sidebar>
      <app-topic-sidebar></app-topic-sidebar>
    </div>
  </div>
</div>
