<!-- Section to Display CommentVotes-->
<div>
  <div class="row">
    <div class="col-12">
      <fa-icon (click)="upvoteComment()" class="upvote mx-1" [icon]="faArrowUp" [style.color]="comment.upVoted ? 'green':''">
      </fa-icon>
    <span style="font-size: small;">{{comment.voteCount}}</span>
      <fa-icon (click)="downvoteComment()" class="downvote mx-1" [icon]="faArrowDown" [style.color]="comment.downVoted ? 'red':''">
      </fa-icon>
      <a style="font-weight: bold" role="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <fa-icon class="mx-1" [icon]="faComments" ></fa-icon >
        Reply
      </a>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="post-comment">
        <form [formGroup]="subCommentForm" (ngSubmit)="postSubComment()">
          <div class="form-group">
            <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
          </div>
          <button type="submit" class="login float-right">Comment</button>
        </form>
      </div>

    </div>
  </div>
</div>
